<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoBean" class="com.powernode.spring6.dao.UserDao"/>
    <bean id="vipDaoBean" class="com.powernode.spring6.dao.VipDao"/>
    <bean id="csBean" class="com.powernode.spring6.service.CustomerService">
<!--        idex属性指定下标，ref用来指定注入的bean的id-->
        <constructor-arg index="0" ref="userDaoBean"/>
        <constructor-arg index="1" ref="vipDaoBean"/>
    </bean>


    <bean id="csBean2" class="com.powernode.spring6.service.CustomerService">
        <!--根据构造方法参数的名字进行注入-->
        <constructor-arg name="userDao" ref="userDaoBean"/>
        <constructor-arg name="vipDao" ref="vipDaoBean"/>
    </bean>

    <bean id="xxxx" class="com.powernode.spring6.dao.UserDao"/>
    <bean id="yyyy" class="com.powernode.spring6.dao.VipDao"/>

    <bean id="csBean3" class="com.powernode.spring6.service.CustomerService">
        <!-- 不指定,spring自动根据ref类型注入 -->
        <constructor-arg ref="userDaoBean"/>
        <constructor-arg ref="vipDaoBean"/>
    </bean>


</beans>