<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!--给spring框架指定要扫描哪些包,多个包则用逗号-->
<!--多个包，也可以指定多个包的父包，但是肯定会牺牲效率-->
    <context:component-scan base-package="com.powernode.spring6.bean,com.powernode.spring6.dao"/>
</beans>