<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--● 第十步：编写spring.xml配置文件-->
    <!--○ 组件扫描-->
    <!--○ 引入外部的属性文件-->
    <!--○ 数据源-->
    <!--○ SqlSessionFactoryBean配置-->
    <!--■ 注入mybatis核心配置文件路径-->
    <!--■ 指定别名包-->
    <!--■ 注入数据源-->
    <!--○ Mapper扫描配置器-->
    <!--■ 注入数据源-->
    <!--○ 事务管理器DataSourceTransactionManager-->
    <!--■ 注入数据源-->
    <!--○ 启用事务注解-->
    <!--■ 注入事务管理器-->


    <!--○ 组件扫描-->
    <!--引入其他配置文件-->
    <import resource="commom.xml"/>
    <!--<context:component-scan base-package="com.powernode.bank"/>-->
    <!--○ 引入外部的属性文件-->
    <context:property-placeholder location="jdbc.properties"/>
    <!--○ 数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--○ SqlSessionFactoryBean配置-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--■ 注入数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--■ 注入mybatis核心配置文件路径-->
        <property name="configLocation" value="mybatis-config.xml"/>
        <!--■ 指定别名包-->
        <property name="typeAliasesPackage" value="com.powernode.bank.pojo"/>
    </bean>

    <!--○ Mapper扫描配置器,主要扫描mapper接口，生成代理类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.powernode.bank.mapper"/>
    </bean>

    <!--■ 事务管理器-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--○ 启用事务注解-->
    <tx:annotation-driven transaction-manager="txManager"/>

</beans>

